
.textCenter{
    text-align: center;
    font-size: 30px;
    color: #000066;
}

.buttonFont{
    font-size: 20px;
    float: right;
    
    
}

.alert{
    color: red;
    font-size: 10;
    
}

.formContainer{
    border: black 2px;
}